version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=eventoapp_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=super-secret-dev-key
      - ALLOWED_HOSTS=*
      - DATABASE_URL=postgres://postgres:postgres@db:5432/eventoapp_db
      - CORS_ALLOWED_ORIGINS=http://localhost:5173
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - db
    restart: always

  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./frontend_web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
